In [415]:
import pandas as pd
mental_df = pd.read_csv('1- mental-illnesses-prevalence.csv')
gdp_df = pd.read_csv('gdp_ppp_per_capita.csv')

In [416]:
gdp_df.rename(columns = {'Country Name' : 'country', 'Year':'year'}, inplace = True)

In [417]:
gdp_df = gdp_df[["country", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]]

In [418]:
gdp_long = gdp_df.melt(
    id_vars=['country'],          # Keep the Country column as is
    var_name='year',              # The column name for former year headers
    value_name='gdp_per_capita')   # The column name for the values

In [419]:
gdp_long['year'] = gdp_long['year'].apply(int)

In [420]:
gdp_long = gdp_long.sort_values(by=['country', 'year']).reset_index(drop=True)

In [421]:
gdp_long

          country  year  gdp_per_capita
0     Afghanistan  2009     1519.692923
1     Afghanistan  2010     1710.575411
2     Afghanistan  2011     1699.488110
3     Afghanistan  2012     1914.774228
4     Afghanistan  2013     2015.514775
...           ...   ...             ...
2921     Zimbabwe  2015     2679.507615
2922     Zimbabwe  2016     2806.469032
2923     Zimbabwe  2017     3795.642431
2924     Zimbabwe  2018     4017.221716
2925     Zimbabwe  2019     3783.547898

[2926 rows x 3 columns]

In [422]:
mental_df.nunique()

Entity                                                                                214
Code                                                                                  205
Year                                                                                   30
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized    6406
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized       6416
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized          6417
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized          6385
Eating disorders (share of population) - Sex: Both - Age: Age-standardized           6417
dtype: int64

In [423]:
mental_df = mental_df[['Entity','Year','Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized','Depressive disorders (share of population) - Sex: Both - Age: Age-standardized']]

In [424]:
mental_df.rename(columns = {'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized' : 'anxiety_rate', 
                           'Entity' : 'country','Depressive disorders (share of population) - Sex: Both - Age: Age-standardized':'depressive_disorder_rate', 'Year':'year'}, inplace = True)

In [425]:
mental_df = mental_df[(mental_df['year'] >= 2009) & (mental_df['year'] <= 2019)]

In [426]:
merged_df = pd.merge(mental_df, gdp_long, on =['country','year'])

In [427]:
merged_df.isnull().sum()

country                      0
year                         0
anxiety_rate                 0
depressive_disorder_rate     0
gdp_per_capita              97
dtype: int64

In [428]:
merged_df = merged_df.round(3)

In [429]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   1936 non-null   object
 1   year                      1936 non-null   int64
 2   anxiety_rate              1936 non-null   float64
 3   depressive_disorder_rate  1936 non-null   float64
 4   gdp_per_capita            1839 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 75.8+ KB

In [430]:
merged_df.dropna(inplace = True)

In [431]:
merged_df.isnull().sum()

country                     0
year                        0
anxiety_rate                0
depressive_disorder_rate    0
gdp_per_capita              0
dtype: int64

In [432]:
merged_df

,country,year,anxiety_rate,depressive_disorder_rate,gdp_per_capita
0,Afghanistan,2009,4.695,4.949,1519.693
1,Afghanistan,2010,4.702,4.947,1710.575
2,Afghanistan,2011,4.716,4.945,1699.488
3,Afghanistan,2012,4.739,4.945,1914.774
4,Afghanistan,2013,4.767,4.944,2015.515
...,...,...,...,...,...
1931,Zimbabwe,2015,3.184,3.408,2679.508
1932,Zimbabwe,2016,3.187,3.411,2806.469
1933,Zimbabwe,2017,3.188,3.412,3795.642
1934,Zimbabwe,2018,3.172,3.407,4017.222
1935,Zimbabwe,2019,3.137,3.395,3783.548

In [433]:
merged_df.to_csv('gdp_anxietyrates.csv', index=False)